html
    head
        title add_student
    style
        include ./include/add_student.css
    body
        p 
            h1
                u ADD PROFESSOR
        div(class="details")
            form(class="professor" action="/admin/professor/submit" method="POST")
                table
                    tr
                        th
                            label NAME  
                        th
                            input(
                                type='text',
                                name="name"
                                class="text"
                            )
                    tr
                        th
                            label ID  
                        th
                            input(
                                type='text',
                                name="id"
                                class="text"
                            )
                    tr
                        th
                            label MAIL ID
                        th
                            input(
                                type='text',
                                name="mailid"
                                class="text"
                            )
                    tr
                        th
                            label PASSWORD
                        th
                            input(
                                type='text',
                                name="password"
                                class="text"
                            )
                    tr
                        th(class="rad")
                            label GENDER
                        th(class="rad")
                        th
                            input(
                                type='radio',
                                name="gender",
                                value="MALE"
                            )
                        th(class="rad")
                            label MALE
                        th
                            input(
                                type='radio',
                                name="gender",
                                value="FEMALE"
                            )
                        th(class="rad")
                            label FEMALE
                        th
                            input(
                                type='radio',
                                name="gender",
                                vale="OTHERS"
                            )
                        th(class="rad")
                            label OTHERS
                    tr
                        th
                            label MOBILE NUMBER
                        th
                            input(
                                type='text',
                                name="mobile"
                                class="text"
                            )
                    tr
                        th
                            label FIELD OF STUDY
                        th
                        th
                            input(
                                type='radio',
                                name="field",
                                value="Engineering"
                            )
                        th
                            label ENGINEERING
                        th
                            input(
                                type='radio',
                                name="field",
                                value="Medicine"
                            )
                        th
                            label MEDICINE
                        th
                            input(
                                type='radio',
                                name="field",
                                value="Law"
                            )
                        th
                            label LAW
                        th
                            input(
                                type='radio',
                                name="field",
                                value="Humanities"
                            )
                        th
                            label HUMANITIES
                        th
                            input(
                                type='radio',
                                name="field",
                                value="Literature"
                            )
                        th
                            label LITERATURE
                    tr
                        th
                            label INSTITUTION / COMPANY
                        th
                            input(
                                type='text',
                                name="institution"
                                class="text"
                            )
                    tr
                        th
                            label ADDRESS LINE 1
                        th
                             input(
                                type='text',
                                name="al1"
                                class="text"
                            )
                    tr
                        th
                            label ADDRESS LINE 2
                        th
                             input(
                                type='text',
                                name="al2"
                                class="text"
                            )
                    tr
                        th
                            label CITY
                        th
                            input(
                                type='text',
                                name="city"
                                class="text"
                            )
                    tr  
                        th
                            label STATE
                        th
                            input(
                                type='text',
                                name="state"
                                class="text"
                            )
                    tr
                        th
                            label ZIP CODE
                        th
                            input(
                                type='text',
                                name="zip"
                                class="text"
                            )
                    tr
                        th
                            button(type='submit' class='button') ADD PROFESSOR
                            

                
